
@{
    ViewData["Title"] = "Info";
}

<h2>SharePass</h2>
<h4 style="width:500px">
    SharePass  - сервіс, який гарантуватує безпеку передачі паролю від однієї людини іншій.
    Сервіс риймає на вхід пароль в чистому вигляді і повертає посилання.
</h4>

